{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div>
    <h1>Welcome lifter</h1>
    <table>
        <tr>
            <th>Muscle Groups</th>
            <th>Add exercise</th>
            <th>Routines</th>
        </tr>
        <tr>
            <th>
                <a href="/muscle_groups">Manage Muscle Groups</a>
            </th>
            <th>
                <a href="/exercises">Manage Exercises</a>
            </th>
            <th>
                <a href="/routines">Manage Routines</a>
            </th>
        </tr>
    </table>
</div>
{% endblock %}