{% extends 'base.html' %}

{% block title %}Flask Fitness{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<h2>Add a Group</h2>
<form action="/muscle_groups" method="POST">
    <label for="name">Group Name:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Create</button>
</form>
<h2>All Muscle Groups</h2>
<ul>
    {% for group in groups %}
    <li>{{group.id}}: {{group.name}}</li>
    <a href="{{ url_for('main.update_or_add_muscle_to_group', muscle_group_id=group.id) }}">Add Muscle</a>
    <br>
    <form action="{{ url_for('main.delete_muscle_group', muscle_group_id=group.id) }}" method="POST" style="display:inline;">
        <button type="submit" onclick="return confirm('This action will delete the muscle group and all assosiated muscles, do you wish to continiue?')">Delete</button>
    </form>
    {% endfor %}
</ul>
{% endblock %}