{% extends 'base.html' %}

{% block title %}Flask Fitness{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<h2>Add a Muscle to {{ muscle_group.name }}</h2>
<form action="{{ url_for('main.add_muscle_to_group', muscle_group_id=muscle_group.id) }}" method="POST">
    <label for="name">Muscle Name:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Create</button>
</form>

<h2>Existing Muscles in this Group:</h2>
<ul>
    {% for muscle in muscles %}
        <li>{{ muscle.id }}: {{ muscle.name }}</li>
    {% endfor %}
</ul>
{% endblock %}