{% extends 'base.html' %}

{% block title %}Flask Fitness{% endblock %}

{% include 'navbar.html' %}
{% block body %}
<h1>Exercises currently in {{routine.name}}</h1>
{% for exercise in exercises %}
    <p>{{exercise.name}}</p>
{% endfor %}
<h1>Do you wish to log a {{routine.name}} session?</h1>
<nav>
    <a href="{{ url_for('main.log_routine', routine_id= routine.id)}}">Log routine</a>
</nav>
<h1>Add exercises to a {{routine.name}}</h1>
<form method="POST" action="{{ url_for('main.view_routine', routine_id= routine.id) }}">
    <label for="exercises">Select Exercises:</label><br>
    {% for exercise in exercises %}
    <input type="checkbox" name="exercises" value="{{ exercise.id }}"> {{ exercise.name }}<br>
    {% endfor %}
    <button type="submit">Create or Update Routine</button>
</form>
{% endblock %}